@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');

:root {
    --secondary: #ad9d7d;
    --background: #ffffff8a;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body, html {
    height: 100%;
    width: 100%;
    background-color: var(--background);
}

main {
    background-color: var(--background);
}

.clearFix {
    clear: both;
}

.fade {
    opacity: 1;
}

/* Nav CSS */

.ml-auto {
    margin-left: auto !important;
}

nav {
    padding: 10px !important;
}

nav a {
    color: #FFF !important;
}

.guideChunk a, .repairCafeChunk a, .communityChunk a {
    text-decoration: none;
}
/* End of Nav CSS */

/* Home Page CSS */

.home_background {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../img/rtr_home_background.jpeg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 465px;
    position: relative;
    text-align: center;
    color: #FFF;
}

/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.centered h1 {
    margin-bottom: 5%;
    font-size: 50px;
    font-weight: bold;
}

.background p {
    font-size: 17px;
    font-family: sans-serif;
    font-weight: 100 !important;
    letter-spacing: 2px;
}

.homeInfo {
    margin: 80px;
    padding: 20px;
    text-align: center;
}

.homeInfo .homeInfoName { 
    font-weight: bold;
    margin-bottom: 30px;
}

.theThree {
    display: inline-block;
    margin-top: 40px;
}

.theThree .repairCafe {
    width: 33%;
    float: left;
}

.theThree .members {
    width: 33%;
    float: left;
}

.theThree .guides {
    width: 33%;
    float: right;
}

.theThree .value {
    font-size: 30px;
    color: var(--secondary);
}

/* Chunk Section */
#presentGuides {
    overflow: auto;
    margin: 5%;
}

#presentRepairCafe {
    overflow: auto;
    margin: 5%;
}

#presentCommunity {
    overflow: auto;
    margin: 5%;
}

.chunkR {
    width: 50%;
    float: right;
    padding: 2.5%;
}

.chunkL {
    width: 50%;
    background-color: var(--secondary);
    float: left;
    padding: 2.5%
}

.chunkR button {
    background-color: var(--secondary);
    border: none;
    padding: 5px 10px;
    transition-duration: 0.4s;
    color: #FFF;
}

.chunkL button {
    background-color: #FFF ;
    border: none;
    padding: 5px 10px;
    transition-duration: 0.4s;
    color: var(--secondary);
}

.chunkR h2 {
    color: var(--secondary);
}

.chunkL h2 {
    color: #FFF;
}

.chunkL p {
    color: rgba(219, 217, 217, 0.819);
}

.guideImg img {
    width: 100%;
    height: auto;
}

.repairCafeImg img {
    width: 100%;
    height: auto;
}

.communityImg img {
    width: 100%;
    height: auto;
}

.guideImg {
    float: left;
    width: 50%;
    padding: 2.5%;
}

.repairCafeImg {
    float: right;
    width: 50%;
    padding-left: 2.5%;
    padding-right: 2.5%;
}

.communityImg {
    float: left;
    width: 50%;
    padding: 2.5%;
}

.moreInfo {
    text-align: center;
}

.moreInfo h3 {
    margin-bottom: 15px;
}

.moreInfo p {
    padding-left: 5%;
    padding-right: 5%;
}

.moreInfoBlock {
    width: 33%;
    float: right;
    padding: 2.5%;
}

.moreInfoBlock p {
    font-size: 15px;
}

.moreInfoBlock h5 {
    display: inline-block;
    border-bottom:1px solid var(--secondary);
    padding-bottom: 10px;
}

.moreInfoBlock .infoBlockHolder {
    margin: 10px auto;
    /* width: 50%; */
    width: 100px;
    height: 100px;
}

.moreInfoBlock img {
    width: 100%;
}

.finalize {
    text-align: center;
    margin-top: 2.5%;
}

.finalize p {
    font-size: 30px;
    color: rgb(136, 133, 133);
}

.finalize button {
    padding: 5px 10px;
    border: none;
    background-color: var(--secondary);
    color: #FFF;
    transition-duration: 0.4s;
}

hr {
    margin-left: 10%;
    margin-right: 10%;
}

button:hover {
    background-color: #786d57;
}

/* End of Home Page CSS */

/* How To Guide CSS */

.howTo_Title {
    margin-top: 30px;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.howto_same {
    display: inline-block;
    text-align: center;
}

.howTo_TitleButton {
    float: right;
    margin-bottom: 25px;
}

.howTo_Title h5 {
    text-align: center;
    margin-top: 30px;
    color: var(--secondary);
}

.howTo_TitleButton button {
    padding: 10px;
    border-radius: 3px;
}

.howTo_learn {
    background-color: #FFF;
    color: var(--secondary);
    border: 1px solid rgb(232, 232, 232);
}

.howTo_create {
    background-color: #d7c9ac;
    color: #FFF;
    border: 1px solid var(--secondary);
}

.howTo_grid_box {
    width: 300px;
    height: 300px;
    position: relative;
    /* border: 1px solid black; */
}

.howTo_grid_box figure {
    width: 100%;
    height: 100%;
}

.howTo_grid_box figure img {
    width: 100%;
    height: 100%;
    padding: 40px;

    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}

.howTo_grid_box h5 {
    position: absolute;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    transition: .5s ease;
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.howTo_grid_box:hover img {
    opacity: 0.3;
    background-color: var(--secondary);
}

.howTo_grid_box h5 a {
    color: #FFF !important;
    text-decoration: none;
    font-size: 30px;
    padding: 10px;
}

.howTo_grid_box h5 {
    color: #FFF !important;
    padding: 5px;
}

.howTo_grid_box {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.howTo_grid_box figure:hover img {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
    cursor: pointer;
}

.overArchingGrid {
    margin-left: 2.5%;
    margin-right: 2.5%;

    text-align: center;
}

.first {
    display: inline-block;
    margin: 1%;
}

.second {
    display: inline-block;
    margin: 1%;
}

.android {
    width: 300px;
    height: 300px;
    background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(../img/howto_android.png);
    
    background-size: cover;
}

.phone {
    width: 300px;
    height: 300px;
    background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(../img/howto_phone.png);
    
    background-size: cover;

}

.pc {
    width: 300px;
    height: 300px;
    background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(../img/howto_pc.png);
    
    background-size: cover;

}

.laptop {
    width: 300px;
    height: 300px;
    background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(../img/howto_laptop.png);
    
    background-size: cover;
}

.gameConsole {
    width: 300px;
    height: 300px;
    background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(../img/howto_game.png);
    
    background-size: cover;
}

.tablet {
    width: 300px;
    height: 300px;
    background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(../img/howto_tablet.png);
    
    background-size: cover;
}

.printer {
    width: 300px;
    height: 300px;
    background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(../img/howto_printer.png);
    
    background-size: cover;
}

.camera {
    width: 300px;
    height: 300px;
    background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(../img/howto_camera.png);
    
    background-size: cover;
}

/* End of How To Guide CSS */

/* Start of Community CSS */

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.accordion:hover {
    background-color: #ccc;
}
  
  /* Style the accordion panel. Note: hidden by default */
.panel, .innerPanel {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    background-color: white;
    display: none;
    overflow: hidden;
}

#discussion {
    margin: 10px;
}

#question {
    margin: 10px;
}

#question button, #discussion button {
    width: 100%;
    text-align: left;
    border: none;
}

#question button:hover, #discussion button:hover {
    background-color: #e3cfb4;
}

#question .questionItemButton, #discussion .discussionItemButton {
    height: 90px;
}

.questionItem .questionTop, .discussionItem .discussionTop {
    margin-left: 30px;
    margin-top: 25px;
}

.questionItem .questionTop .resolved {
    color: #FFF;
    background-color: var(--secondary);
    padding: 2.5px;
}

.questionItem img, .discussionItem img, .innerPanel img {
    width: 30px;
    margin-top: 5px;
    float: left;
}

.questionItem .questionName, .discussionItem .discussionName {
    margin-left: 50px;
}

.questionItem .questionData, .discussionItem .discussionData {
    font-size: 10px;
    color: rgb(145, 143, 143);
    margin-top: 8px;
}

.communityH1 {
    margin-top: 1%;
    margin-left: 10px;
    margin-bottom: 1%;
    float: left;
}

.communityButtons {
    float: right;
    margin-right: 10px;
}

.communityButtons button {
    padding: 10px;
    border-radius: 3px;
    margin-top: 20px;
}

.innerPanel {
    padding-left: 20px;
    padding-right: 20px;
}

.discussionItemInner {
    width: 100%;
    background-color: #eee;
    margin-bottom: 10px;
}

.discussionItemInner img {
    margin-left: 30px;
    margin-top: 30px;
}

.discussionItemInner .discussionNameInner {
    padding-top: 35px;
    margin-left: 80px;
}

.discussionItemInner .discussionDataInner {
    margin-left: 80px;
    margin-right: 60px;
    margin-top: 30px;
    color: rgb(150, 150, 150);
}

/* End of Community CSS */

/* Footer CSS */
footer {
    background-color: #000;
    width: 100%;
    text-align: center;
    margin-top: 50px;
    bottom: 0;
    position: relative;
    clear: both;
}

footer p {
    padding: 10px;
    color: #FFF;
}
/* End of Footer CSS */